@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body {
    background: white;
}

li {
    list-style: none;
    cursor: pointer;
    position: relative;
}

li:hover::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    background: #0aa396;
    right: 0;
    bottom: -1px;
    color: #0aa396;
}

.icon {
    cursor: pointer;
}

select,
option,
input {
    outline: none;
}

select:focus,
option:focus {
    outline: none;
}

.card {
    background: url(/src/Assets/img/bg.jpg);

}

select {
    outline: none;
  }

  option {
    outline: none;
  }

  .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: linear-gradient(to left, #0aa396, #575acd);
    background: -webkit-linear-gradient(to left, #0aa396, #575acd);
    background: -o-linear-gradient(to left, #0aa396, #575acd);
    background: -moz-linear-gradient(to left, #0aa396, #575acd);
  }

  .focus-input::after {
    content: attr(data-placeholder);
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 100%;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  .input:focus + .focus-input::after {
    top: -15px
  }

  .input:focus + .focus-input::before {
    width: 100%;
  }

  .login-form-bt {
    background: linear-gradient(to left, #0aa396, #575acd);
    background: -webkit-linear-gradient(to left, #0aa396, #575acd);
    background: -o-linear-gradient(to left, #0aa396, #575acd);
    background: -moz-linear-gradient(to left, #0aa396, #575acd);
  }

  .inputValue + .focus-input::after{
    top: -15px
  }
  .inputValue + .focus-input::before{
    width: 100%;
  }